body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
  /* Make task card postion absolute for draggable functionality */
}

.task-card:hover {
  cursor: grab;
}

